*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main{
	width: 80%;
	height: 600px;
	margin: 50px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr); 
	grid-template-rows: repeat(6, 1fr);
	gap: 12px;
}

main div{
	background-size: cover;
	background-position: center;
	color: white;
	font-size: 25px;
	text-align: center;
}

.main1{
	background-color: aqua;
	grid-column: 1 / 5;
	grid-row: 1 / 2;
}

.main2{
	background-color: green;
	grid-column: 1 / 2;
	grid-row: 2 / 6;
}

.main3{
	background-color: yellow;
	grid-column: 2 / 5;
	grid-row: 2 / 5;

}

.main4{
	background-color: gray;
	grid-column: 2 / 5;
	grid-row: 5 / 6;
}

.main5{
	background-color: orange;
	grid-column: 1 / 5;
}